Workflow (n8n)
{
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "authentication": "serviceAccount",
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1TfTyUcEeUn7NkD2sP7XLJ6W2RzdZ-ECO",
          "mode": "list",
          "cachedResultName": "n8n"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "dd6ac1a5-4b4d-4b04-8538-c56fedf68cc3",
      "name": "Google Drive Trigger",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -2608,
        112
      ],
      "credentials": {
        "googleApi": {
          "id": "UrRrRU8Qmy1Sucy6",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "file_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "2",
              "name": "file_name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "3",
              "name": "file_type",
              "value": "={{ $json.mimeType }}",
              "type": "string"
            },
            {
              "id": "4",
              "name": "file_size_bytes",
              "value": "={{ $json.size }}",
              "type": "number"
            },
            {
              "id": "5",
              "name": "workflow_start_time",
              "value": "={{ new Date().toISOString() }}",
              "type": "string"
            },
            {
              "id": "6",
              "name": "workflow_run_id",
              "value": "={{ $execution.id }}",
              "type": "string"
            },
            {
              "id": "7",
              "name": "web_content_link",
              "value": "={{ $json.webContentLink }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "bbf3c06c-cce1-4854-a0aa-0c9979036804",
      "name": "Set File Metadata",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2368,
        208
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://YOUR_SERVER2_IP:8080/api/validation/validate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({file_id: $json.file_id, file_name: $json.file_name, file_type: $json.file_type, file_size_bytes: $json.file_size_bytes}) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "6ac6bde2-2dc9-4dd1-84e8-1ccf7bacfcb3",
      "name": "Validation Service",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2144,
        208
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "VALID",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "valid"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "INVALID",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "invalid"
            }
          ]
        },
        "options": {}
      },
      "id": "20098234-b69f-4024-ba37-fc3c5591cbe7",
      "name": "Check Validation",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1888,
        192
      ]
    },
    {
      "parameters": {
        "jsCode": "const errorData = {workflow_run_id: $('Set File Metadata').item.json.workflow_run_id, file_id: $('Set File Metadata').item.json.file_id, file_name: $('Set File Metadata').item.json.file_name, error_type: 'VALIDATION_ERROR', error_message: $json.error_message || 'File validation failed', error_stage: 'FILE_VALIDATION', timestamp: new Date().toISOString()}; return [{ json: errorData }];"
      },
      "id": "4e523b5b-7326-4ee0-b656-73a214a0ff5b",
      "name": "Log Validation Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1872,
        448
      ]
    },
    {
      "parameters": {
        "tableId": "processing_errors",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "workflow_run_id",
              "fieldValue": "={{ $json.workflow_run_id }}"
            },
            {
              "fieldId": "file_id",
              "fieldValue": "={{ $json.file_id }}"
            },
            {
              "fieldId": "error_type",
              "fieldValue": "={{ $json.error_type }}"
            },
            {
              "fieldId": "error_message",
              "fieldValue": "={{ $json.error_message }}"
            },
            {
              "fieldId": "error_stage",
              "fieldValue": "={{ $json.error_stage }}"
            }
          ]
        }
      },
      "id": "116256cd-e79d-4fb9-909a-0f519dd44b9e",
      "name": "Save Validation Error",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1856,
        672
      ],
      "credentials": {
        "supabaseApi": {
          "id": "XeF7DUkNBaZBQhxm",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "processing_queue",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "file_id",
              "fieldValue": "={{ $('Set File Metadata').item.json.file_id }}"
            },
            {
              "fieldId": "file_name",
              "fieldValue": "={{ $('Set File Metadata').item.json.file_name }}"
            },
            {
              "fieldId": "file_size_mb",
              "fieldValue": "={{ ($('Set File Metadata').item.json.file_size_bytes / 1024 / 1024).toFixed(2) }}"
            },
            {
              "fieldId": "estimated_pages",
              "fieldValue": "={{ $json.estimated_pages }}"
            },
            {
              "fieldId": "workflow_run_id",
              "fieldValue": "={{ $('Set File Metadata').item.json.workflow_run_id }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "PROCESSING"
            }
          ]
        }
      },
      "id": "8193455a-6957-4a02-97c1-7cff7d9a36c4",
      "name": "Log to Queue",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1664,
        176
      ],
      "credentials": {
        "supabaseApi": {
          "id": "XeF7DUkNBaZBQhxm",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://YOUR_SERVER2_IP:8080/api/storage/documents/delete-by-file",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({file_id: $('Set File Metadata').item.json.file_id}) }}",
        "options": {}
      },
      "id": "87ba9749-cab4-4007-a195-ee16b5e3df4a",
      "name": "Delete Old Versions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1456,
        176
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Set File Metadata').item.json.file_id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/pdf"
            }
          }
        }
      },
      "id": "098e84a4-5faa-4ff7-b7e4-67c71667b219",
      "name": "Download File",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1232,
        176
      ],
      "credentials": {
        "googleApi": {
          "id": "UrRrRU8Qmy1Sucy6",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://YOUR_SERVER2_IP:8080/api/parser/parse/upload",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({file_id: $('Set File Metadata').item.json.file_id, file_url: $('Set File Metadata').item.json.web_content_link, file_name: $('Set File Metadata').item.json.file_name}) }}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "35199eb2-bb7a-4647-9810-e27b4c3ee0f2",
      "name": "Parser Upload",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1008,
        176
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const errorData = {workflow_run_id: $('Set File Metadata').item.json.workflow_run_id, file_id: $('Set File Metadata').item.json.file_id, error_type: 'UPLOAD_ERROR', error_message: $json.error?.message || $json.message || 'Parser upload failed', error_stage: 'PARSER_UPLOAD', timestamp: new Date().toISOString()}; return [{ json: errorData }];"
      },
      "id": "5fbad579-2e4c-433d-a93a-6c21b78d055c",
      "name": "Log Upload Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -992,
        432
      ]
    },
    {
      "parameters": {
        "tableId": "processing_errors",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "workflow_run_id",
              "fieldValue": "={{ $json.workflow_run_id }}"
            },
            {
              "fieldId": "file_id",
              "fieldValue": "={{ $json.file_id }}"
            },
            {
              "fieldId": "error_type",
              "fieldValue": "={{ $json.error_type }}"
            },
            {
              "fieldId": "error_message",
              "fieldValue": "={{ $json.error_message }}"
            },
            {
              "fieldId": "error_stage",
              "fieldValue": "={{ $json.error_stage }}"
            }
          ]
        }
      },
      "id": "8d86ce7b-a50f-49e8-b356-759b67df2ca7",
      "name": "Save Upload Error",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -992,
        656
      ],
      "credentials": {
        "supabaseApi": {
          "id": "XeF7DUkNBaZBQhxm",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "job_id",
              "value": "={{ $json.job_id }}",
              "type": "string"
            },
            {
              "id": "2",
              "name": "retry_count",
              "value": 0,
              "type": "number"
            },
            {
              "id": "3",
              "name": "max_retries",
              "value": 20,
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "4480798f-6850-4958-85d7-6dde72d59075",
      "name": "Init Retry Counter",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -784,
        160
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://YOUR_SERVER2_IP:8080/api/parser/parse/status",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({job_id: $json.job_id}) }}",
        "options": {}
      },
      "id": "2a2fda65-ee20-4530-a067-661a033e90c5",
      "name": "Check Parse Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -576,
        160
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "1",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "SUCCESS",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "success"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "2",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "ERROR",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "error"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "3",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "PENDING",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  },
                  {
                    "id": "4",
                    "leftValue": "={{ $json.retry_count }}",
                    "rightValue": "={{ $json.max_retries }}",
                    "operator": {
                      "type": "number",
                      "operation": "lt"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pending"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "5",
                    "leftValue": "={{ $json.retry_count }}",
                    "rightValue": "={{ $json.max_retries }}",
                    "operator": {
                      "type": "number",
                      "operation": "gte"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "timeout"
            }
          ]
        },
        "options": {}
      },
      "id": "0601b814-84de-418c-9a9a-e232929496b5",
      "name": "Switch Parse Status",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -352,
        128
      ]
    },
    {
      "parameters": {
        "amount": 10
      },
      "id": "9842f84a-51bc-4dbb-9782-3b173a250e9d",
      "name": "Wait Before Retry",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -128,
        352
      ],
      "webhookId": "rag-parse-retry"
    },
    {
      "parameters": {
        "jsCode": "const currentData = $json; const newRetryCount = (currentData.retry_count || 0) + 1; console.log(`[RETRY] Attempt ${newRetryCount}/${currentData.max_retries} for job ${currentData.job_id}`); return [{ json: { ...currentData, retry_count: newRetryCount } }];"
      },
      "id": "4514c877-1c5d-4c36-a0be-2c02e273981a",
      "name": "Increment Retry",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        352
      ]
    },
    {
      "parameters": {
        "jsCode": "const errorType = $json.status === 'ERROR' ? 'PARSE_ERROR' : 'TIMEOUT'; const errorMessage = $json.error_message || `Timeout after ${$json.max_retries} retries`; return [{json: {workflow_run_id: $('Set File Metadata').item.json.workflow_run_id, file_id: $('Set File Metadata').item.json.file_id, error_type: errorType, error_message: errorMessage, error_stage: 'DOCUMENT_PARSING', timestamp: new Date().toISOString()}}];"
      },
      "id": "52e5d5ee-d7ca-45b7-883e-051ffdf99ddd",
      "name": "Log Parse Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -128,
        160
      ]
    },
    {
      "parameters": {
        "tableId": "processing_errors",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "workflow_run_id",
              "fieldValue": "={{ $json.workflow_run_id }}"
            },
            {
              "fieldId": "file_id",
              "fieldValue": "={{ $json.file_id }}"
            },
            {
              "fieldId": "error_type",
              "fieldValue": "={{ $json.error_type }}"
            },
            {
              "fieldId": "error_message",
              "fieldValue": "={{ $json.error_message }}"
            },
            {
              "fieldId": "error_stage",
              "fieldValue": "={{ $json.error_stage }}"
            }
          ]
        }
      },
      "id": "940a873c-2999-4f90-aa4d-67451251cbb2",
      "name": "Save Parse Error",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        80,
        160
      ],
      "credentials": {
        "supabaseApi": {
          "id": "XeF7DUkNBaZBQhxm",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://YOUR_SERVER2_IP:8080/api/parser/parse/result",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({job_id: $json.job_id}) }}",
        "options": {}
      },
      "id": "043bcd74-0ff7-4bd1-988d-2b2c1eecaad4",
      "name": "Get Parse Result",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -128,
        -32
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://YOUR_SERVER2_IP:8080/api/embedder/embed/batch",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({texts: $json.chunks.map(c => c.text), metadata: {file_id: $json.file_id, batch_index: $json.batch_index}}) }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "ac3b26d3-15b7-429a-b0e8-86b9a630a052",
      "name": "Generate Embeddings",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1024,
        -432
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const errorData = {workflow_run_id: $('Chunking and Batching').item.json.workflow_run_id, file_id: $('Chunking and Batching').item.json.file_id, error_type: 'EMBED_ERROR', error_message: $json.error?.message || $json.message || 'Embedding failed', error_stage: 'EMBEDDING', batch_index: $('Chunking and Batching').item.json.batch_index, retry_count: $('Chunking and Batching').item.json.embed_retry_count || 0, timestamp: new Date().toISOString()}; return [{ json: errorData }];"
      },
      "id": "803d5a95-028c-4b2c-81d8-4b6d5e9a63c3",
      "name": "Log Embed Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1248,
        -416
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "1",
                    "leftValue": "={{ $json.retry_count }}",
                    "rightValue": 3,
                    "operator": {
                      "type": "number",
                      "operation": "lt"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "retry"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "2",
                    "leftValue": "={{ $json.retry_count }}",
                    "rightValue": 3,
                    "operator": {
                      "type": "number",
                      "operation": "gte"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "skip"
            }
          ]
        },
        "options": {}
      },
      "id": "b780126e-b3d8-4e54-abff-d248f852dfd6",
      "name": "Check Embed Retry",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1440,
        -416
      ]
    },
    {
      "parameters": {},
      "id": "0f8c45df-f54f-4f32-bf70-9523e09e4c69",
      "name": "Wait Embed Retry",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1648,
        -544
      ],
      "webhookId": "rag-embed-retry"
    },
    {
      "parameters": {
        "jsCode": "const batchData = $('Chunking and Batching').item.json; const newRetryCount = (batchData.embed_retry_count || 0) + 1; return [{json: {...batchData, embed_retry_count: newRetryCount}}];"
      },
      "id": "a7f26f8b-1a5f-4461-8f37-fcdea31bafd6",
      "name": "Increment Embed Retry",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1840,
        -544
      ]
    },
    {
      "parameters": {
        "tableId": "processing_errors",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "workflow_run_id",
              "fieldValue": "={{ $json.workflow_run_id }}"
            },
            {
              "fieldId": "file_id",
              "fieldValue": "={{ $json.file_id }}"
            },
            {
              "fieldId": "error_type",
              "fieldValue": "={{ $json.error_type }}"
            },
            {
              "fieldId": "error_message",
              "fieldValue": "={{ $json.error_message }}"
            },
            {
              "fieldId": "error_stage",
              "fieldValue": "={{ $json.error_stage }}"
            }
          ]
        }
      },
      "id": "02521a77-4c5d-4f1c-ac69-82b4fa1482a3",
      "name": "Save Embed Error",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1648,
        -288
      ],
      "credentials": {
        "supabaseApi": {
          "id": "XeF7DUkNBaZBQhxm",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const batchData = $('Chunking and Batching').item.json; const embeddings = $json.embeddings || []; const chunks = batchData.chunks || []; if (embeddings.length === 0) { throw new Error('No embeddings'); } const documents = []; for (let i = 0; i < Math.min(chunks.length, embeddings.length); i++) { const chunk = chunks[i]; const embedding = embeddings[i]; documents.push({content: chunk.text, embedding: embedding, metadata: {file_id: batchData.file_id, file_name: batchData.file_name, page_number: chunk.page_number, chunk_start: chunk.chunk_start, chunk_end: chunk.chunk_end, batch_index: batchData.batch_index, processed_at: new Date().toISOString()}}); } return [{ json: { documents } }];"
      },
      "id": "d7c6cf0c-2e4b-4bd9-9836-72e1787d3c29",
      "name": "Prepare for Storage",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1488,
        -32
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://YOUR_SERVER2_IP:8080/api/storage/documents/batch-insert",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "2fe88a2a-9418-43b7-877d-55dbe1bb4ad3",
      "name": "Storage Batch Insert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1728,
        -32
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const fileMetadata = $('Set File Metadata').first().json; const workflowEndTime = new Date(); const workflowStartTime = new Date(fileMetadata.workflow_start_time); const processingTimeSec = Math.round((workflowEndTime - workflowStartTime) / 1000); const allBatches = $('Chunking and Batching').all(); const totalChunks = allBatches.reduce((sum, batch) => sum + (batch.json.chunks?.length || 0), 0); const totalBatches = allBatches.length; const allInserts = $('Storage Batch Insert').all(); const totalInserted = allInserts.reduce((sum, insert) => sum + (insert.json.inserted_count || 0), 0); const parseResult = $('Get Parse Result').first().json; const totalPages = parseResult.total_pages || 0; return [{json: {workflow_run_id: fileMetadata.workflow_run_id, file_id: fileMetadata.file_id, file_name: fileMetadata.file_name, file_size_mb: (fileMetadata.file_size_bytes / 1024 / 1024).toFixed(2), total_pages: totalPages, total_chunks: totalChunks, total_batches: totalBatches, documents_inserted: totalInserted, processing_time_sec: processingTimeSec, status: 'SUCCESS', completed_at: workflowEndTime.toISOString()}}];"
      },
      "id": "c85d008c-9cb1-418e-8ec1-57dd92c1b25d",
      "name": "Aggregate Metrics",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1968,
        -32
      ]
    },
    {
      "parameters": {
        "tableId": "processing_logs",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "workflow_run_id",
              "fieldValue": "={{ $json.workflow_run_id }}"
            },
            {
              "fieldId": "file_id",
              "fieldValue": "={{ $json.file_id }}"
            },
            {
              "fieldId": "file_name",
              "fieldValue": "={{ $json.file_name }}"
            },
            {
              "fieldId": "total_pages",
              "fieldValue": "={{ $json.total_pages }}"
            },
            {
              "fieldId": "total_chunks",
              "fieldValue": "={{ $json.total_chunks }}"
            },
            {
              "fieldId": "processing_time_sec",
              "fieldValue": "={{ $json.processing_time_sec }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "={{ $json.status }}"
            }
          ]
        }
      },
      "id": "55c40413-45a0-4d49-bf14-8d1159f98787",
      "name": "Log Success Metrics",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2192,
        -32
      ],
      "credentials": {
        "supabaseApi": {
          "id": "XeF7DUkNBaZBQhxm",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "authentication": "serviceAccount",
        "triggerOn": "specificFile",
        "fileToWatch": {
          "__rl": true,
          "value": "121qpTpNLB8_VDJ93yi2mTu92bJJfDGCoEOeMp_MDigM",
          "mode": "list",
          "cachedResultName": "Список квартир",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/121qpTpNLB8_VDJ93yi2mTu92bJJfDGCoEOeMp_MDigM/edit?usp=drivesdk"
        }
      },
      "id": "4365a23a-490b-4a37-8289-0ba88fe2ab39",
      "name": "File Updated",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -2608,
        320
      ],
      "credentials": {
        "googleApi": {
          "id": "UrRrRU8Qmy1Sucy6",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const pages = $json.pages || [];\n\nif (pages.length === 0) {\n  throw new Error('No pages found');\n}\n\nreturn pages.map((page, index) => ({\n  json: {\n    page_number: index + 1,\n    page_content: page.text || '',\n    total_pages: pages.length\n  }\n}));"
      },
      "id": "06df6c4f-58b0-47d9-b83a-9061be7e310f",
      "name": "Split Pages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        -32
      ]
    },
    {
      "parameters": {
        "jsCode": "const content = $json.page_content;\nconst chunkSize = 500;\nconst overlap = 50;\n\nif (!content || content.length === 0) {\n  return [];\n}\n\nlet chunks = [];\nfor (let i = 0; i < content.length; i += chunkSize - overlap) {\n  const chunk = content.slice(i, i + chunkSize);\n  if (chunk.trim().length > 0) {\n    chunks.push({\n      chunk_text: chunk,\n      chunk_start: i,\n      chunk_end: Math.min(i + chunkSize, content.length),\n      page_number: $json.page_number\n    });\n  }\n}\n\nreturn chunks.map(chunk => ({ json: chunk }));"
      },
      "id": "c73c902e-acb7-4e59-81fe-03efc27b9376",
      "name": "Custom Chunking",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        304,
        -32
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst batchSize = 10;\nlet batches = [];\n\n// Получаем file metadata ОДИН РАЗ (вне loop)\nconst fileMetadata = $('Set File Metadata').first().json;\n\nfor (let i = 0; i < items.length; i += batchSize) {\n  const batch = items.slice(i, i + batchSize);\n  batches.push({\n    json: {\n      batch_index: Math.floor(i / batchSize),\n      batch_size: batch.length,\n      chunks: batch.map(item => item.json),\n      \n      // ✅ Добавляем file metadata В КАЖДЫЙ batch\n      file_id: fileMetadata.file_id,\n      file_name: fileMetadata.file_name,\n      workflow_run_id: fileMetadata.workflow_run_id\n    }\n  });\n}\n\nreturn batches;"
      },
      "id": "1db25415-dbf9-4dee-8253-cc57fdb020a0",
      "name": "Batch Chunks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        -32
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "file_id",
              "value": "={{ $json.file_id }}",
              "type": "string"
            },
            {
              "id": "2",
              "name": "processed_at",
              "value": "={{ new Date().toISOString() }}",
              "type": "string"
            },
            {
              "id": "3",
              "name": "file_name",
              "value": "={{ $json.file_name }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "cd36efa3-d822-4128-b666-601b7e0b11b0",
      "name": "Add Metadata",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        736,
        -32
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "ef0e9434-b31e-4a00-87ca-e511a9594fb4",
      "name": "Merge Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1264,
        -32
      ]
    }
  ],
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Set File Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set File Metadata": {
      "main": [
        [
          {
            "node": "Validation Service",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validation Service": {
      "main": [
        [
          {
            "node": "Check Validation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Validation Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Validation": {
      "main": [
        [
          {
            "node": "Log to Queue",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Validation Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Validation Error": {
      "main": [
        [
          {
            "node": "Save Validation Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to Queue": {
      "main": [
        [
          {
            "node": "Delete Old Versions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Old Versions": {
      "main": [
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "Parser Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parser Upload": {
      "main": [
        [
          {
            "node": "Init Retry Counter",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Upload Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Upload Error": {
      "main": [
        [
          {
            "node": "Save Upload Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Init Retry Counter": {
      "main": [
        [
          {
            "node": "Check Parse Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Parse Status": {
      "main": [
        [
          {
            "node": "Switch Parse Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Parse Status": {
      "main": [
        [
          {
            "node": "Get Parse Result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Parse Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait Before Retry",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Parse Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Before Retry": {
      "main": [
        [
          {
            "node": "Increment Retry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Increment Retry": {
      "main": [
        [
          {
            "node": "Check Parse Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Parse Error": {
      "main": [
        [
          {
            "node": "Save Parse Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Parse Result": {
      "main": [
        [
          {
            "node": "Split Pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Embeddings": {
      "main": [
        [
          {
            "node": "Merge Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Embed Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Embed Error": {
      "main": [
        [
          {
            "node": "Check Embed Retry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Embed Retry": {
      "main": [
        [
          {
            "node": "Wait Embed Retry",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Save Embed Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Embed Retry": {
      "main": [
        [
          {
            "node": "Increment Embed Retry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Increment Embed Retry": {
      "main": [
        [
          {
            "node": "Generate Embeddings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare for Storage": {
      "main": [
        [
          {
            "node": "Storage Batch Insert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Storage Batch Insert": {
      "main": [
        [
          {
            "node": "Aggregate Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Metrics": {
      "main": [
        [
          {
            "node": "Log Success Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Updated": {
      "main": [
        [
          {
            "node": "Set File Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Pages": {
      "main": [
        [
          {
            "node": "Custom Chunking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Custom Chunking": {
      "main": [
        [
          {
            "node": "Batch Chunks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Batch Chunks": {
      "main": [
        [
          {
            "node": "Add Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Metadata": {
      "main": [
        [
          {
            "node": "Generate Embeddings",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Data": {
      "main": [
        [
          {
            "node": "Prepare for Storage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "3386092e097f883a29dfea9711fe5d0b1e6ddcdf17d970ae2eae145413f02a1b"
  }
}
